.Logo {
    content: url(https://i.imgur.com/X8tZjio.png);
    height: 20vmin;
    width: 20vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background-color: var(--white);
    color: var(--tan-1);
    font-size: 2.7vmin;
    border: .6vmin solid var(--tan-2);
    padding: 2vmin; 
  }