.Logo {
    content: url(https://i.imgur.com/X8tZjio.png);
    height: 40vmin;
    width: 40vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--black-1);
    border: .6vmin solid var(--tan-2);
    margin: 10vmin; 
  }
  