.homepage {

    content: url(https://i.imgur.com/X8tZjio.png);
    height: 10vmin;
    width: 10vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--black-1);   
}